{% comment %}
<!--
compress me!

(function () {
	var title, url, selection, container;
	url = location.href;
	if (document.getSelection) {
		selection = document.getSelection();

		if (selection.toString() == '') {
			selection = '';
		} else {
			selection = selection.getRangeAt(0).cloneContents();
			container = document.createElement('div');
			container.appendChild(selection);
			selection = container.innerHTML;
		}
	} else {
		selection = '';
	};
	title = document.title;
	window.location.href = '[BASE_URL]url=' + encodeURIComponent(url) + '&content=' + encodeURIComponent(selection) + '&title=' + encodeURIComponent(title);
})();
-->
{% endcomment %}

{% capture compressed_js %}

(function(){var e,n,t,o;n=location.href,document.getSelection?(t=document.getSelection(),""==""+t?t="":(t=t.getRangeAt(0).cloneContents(),o=document.createElement("div"),o.appendChild(t),t=o.innerHTML)):t="",e=document.title,window.location.href="[BASE_URL]url="+encodeURIComponent(n)+"&content="+encodeURIComponent(t)+"&title="+encodeURIComponent(e)})();

{% endcapture %}

{% assign compressed_js = compressed_js | strip | replace:'"',"'" | prepend: "javascript:" %}
{% assign non_edit_url = base_url | append:"/admin/quick-draft?" %}
{% assign edit_now_url = non_edit_url | append:"edit=1&" %}
{% assign js_later = compressed_js | replace:"[BASE_URL]",non_edit_url %}
{% assign js_now   = compressed_js | replace:"[BASE_URL]",edit_now_url %}

<section id="bookmarks">
	<h2>Bookmarks</h2>

	<p>Drag these links to your bookmarks and use them to create new drafts.</p>

	<p>Any selected text will go in as Markdown, ready for editing!</p>

	<hr>

	<p class="bookmark"><a href="{{ js_later }}">Save draft for later</a></p>

	<p>Saves the current page as a draft. Takes you straight back to where you were so you can keep reading.</p>

	<p class="bookmark"><a href="{{ js_now }}">Save draft and edit</a></p>

	<p>Saves the current page as a draft and lets you start editing immediately.</p>
</section>