<h1>Drafts</h1>

<p>(Most recently modified first.)</p>

<ul>
{% for draft in drafts %}
	<li><a href="/admin/edit/drafts/{{ draft.slug }}">{{ draft.slug }}</a></li>
{% endfor %}
</ul>

<h1>Posts</h1>

<p>(Most recently published first.)</p>

<ul>
{% for post in posts %}
	<li><a href="/admin/edit/posts/{{ post.basename }}">{{ post.title | smarty }}</a></li>
{% endfor %}
</ul>