{% if draft_preview %}<p>draftpreviewflagexists</p>{% endif %}
{% if post_page %}<p>post_page flag set for template</p>{% endif %}
<h2>{{ post.title }}</h2>

{{ post.content | markdown }}

<p><a href="http://twitter.com/share?text={{ post.title | encode_uri_component }}&amp;url={{ 'http://www.mysite.com' | encode_uri_component }}{{ post.url | encode_uri_component }}">Submit this to Twitter.</p>

{% if prev_post %}Previous post: {{ prev_post.title }}{% endif %}
{% if next_post %}Next post: {{ next_post.title }}{% endif %}